<template>
    <div class="container mx-auto max-w-screen-lg flex">
        <div class="w-1/4 h-60 mr-5 bg-white shadow-md rounded-lg px-6 py-4 my-6 mt-4">
            <a href="" class="px-4 mt-8 border-indigo-400 font-semibold tracking-wide text-lg">Dashboard</a>
            <ul class="space-y-2 divide-y-2">
                <li class="flex items-center space-x-4 py-3 px-4 hover:bg-indigo-100">
                    <div class="text-indigo-500">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"/></svg>
                    </div>
                     <router-link to="/" class="font-medium text-gray-500 hover:text-indigo-500" >All Products</router-link>
                </li>
                <li class="flex items-center space-x-4 py-3 px-4 hover:bg-indigo-100">
                    <div class="text-indigo-500">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/></svg>
                    </div>
                    <router-link to="/orders" class="font-medium text-gray-500 hover:text-indigo-500">All Orders</router-link>
                </li>
                <li class="flex items-center space-x-4 py-3 px-4 hover:bg-indigo-100">
                    <div class="text-indigo-500">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zm10 0a2 2 0 11-4 0 2 2 0 014 0z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"/></svg>
                    </div>
                    <router-link to="/suppliers" class="font-medium text-gray-500 hover:text-indigo-500">Suppliers</router-link>
                </li>
            </ul>

        </div>

        <div class="w-3/4">
            <router-view></router-view>
        </div>

    </div>
</template>

<script>
export default {}
</script>
