<template>
    <div>
        <div>
            <div>
                <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
                    <div class="max-w-md mx-auto">
                        <div class="flex items-center space-x-5">
                            <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                                <h2 class="leading-relaxed">Create a Product</h2>
                            </div>
                        </div>
                        <form @submit.prevent="addProduct">
                        <div class="divide-y divide-gray-200">
                            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                                <div class="flex flex-col">
                                    <label class="leading-loose">Product Name</label>
                                    <input type="text"
                                           name="name"
                                           v-model="product.name"
                                           class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                           placeholder="Product Name">
                                </div>
                                <div class="flex flex-col">
                                    <label class="leading-loose">Product Description</label>
                                    <textarea type="text"
                                           name="description"
                                           v-model="product.description"
                                           class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                           placeholder="Describe your Product">
                                        </textarea>
                                </div>
                                <div class="flex flex-col">
                                    <label class="leading-loose">Product Quantity</label>
                                    <input type="text"
                                           name="quantity"
                                           v-model="product.quantity"
                                           class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                           placeholder="Quantity">
                                </div>
                            </div>
                            <div class="pt-4 flex items-center space-x-4">
                                <button
                                    class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none">
                                    <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M6 18L18 6M6 6l12 12"></path>
                                    </svg>
                                    Cancel
                                </button>
                                <button
                                    type="submit"
                                    class="flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none bg-indigo-500">
                                    Create
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            product: {}
        }
    },
    methods: {
        addProduct() {
            this.axios
                .post('http://challenge.test/api/v1/products/', this.product)
                .then(response => (
                    this.$router.push({ name: 'home' })
                ))
                .catch(err => console.log(err))
                .finally(() => this.loading = false)
        }
    }
}
</script>
