<template>
    <!-- component -->
    <div>
        <div class="bg-gray-100 font-sans">
            <div class="">
                <nav class="flex items-center justify-between px-6">
                    <div class="text-indigo-500 font-semibold leading-5 tracking-wide">All Orders</div>
                    <div class="inline-block mr-2 mt-2">
                        <router-link to="/create-order">
                            <button type="button"
                                    class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-indigo-400 hover:bg-purple-600 hover:shadow-lg flex items-center">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                                </svg>
                                Add Order
                            </button>
                        </router-link>

                    </div>
                </nav>
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Order Number</th>
                            <th class="py-3 px-6 text-left">Product</th>
                            <th class="py-3 px-6 text-center">Product Quantity</th>
                            <th class="py-3 px-6 text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                        <tr v-for="order in orders" :key="order.id"
                            class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div>
                                    <span class="font-medium">{{ order.order_number }}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div>
                                    <span>{{ order.products[0].name }}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div>{{ order.products[0].quantity }}</div>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <router-link :to="{name: 'edit-order' , params: {id: order.id} }"
                                                 class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                        </svg>
                                    </router-link>
                                    <button @click="deleteOrder(order.id)"
                                            class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            orders: []
        }
    },
    created() {
        this.axios
            .get('http://challenge.test/api/v1/orders/latestOrders')
            .then(response => {
             (this.orders =
                 (response.data));
            });
    },
    methods: {
        deleteOrder(id) {
            this.axios
                .delete(`http://challenge.test/api/v1/orders/${id}`)
                .then(response => {
                    let i = this.orders.map(data => data.id).indexOf(id);
                    this.orders.splice(i, 1)
                });
        }
    }
}
</script>
